<template>
  <div class="camview">
  </div>
</template>

<script>

export default {
    name: 'Bigcam',
    components: {
    }
}
</script>

<style scoped>
.camview{
margin-top: 10vh;
    width: 70vw;
    position: absolute;
    background-color: green;
    height: 90vh;
}
</style>