<template>
<div class="noflexbox">
    <h1>Already done?</h1>

    <p style="margin-bottom:10%;">You stopped the video call with Nova prematurely. Do you not forget to fill in the survey? We would love to hear what went well and what didn't!</p>
    
    <div class="btnflex">
        <a href="https://forms.gle/UQMF9Qw7LWtArGQZA" class="btn-leave">Fill in survey</a>
        <a style="background-color: #33a39b" href="https://www.instagram.com/novagreenn/?hl=en" class="btn-leave">Check out my Instagram</a>
    </div>
</div>
</template>

<style scoped>
h1, h2, h3, h4, h5, h6, p, a{
color: white;
margin: auto;
width: 100%;
margin-bottom:5%;
}

.noflexbox{
display: block;
margin:auto 25%;
}

.btnflex{
display:flex;
margin: 10% 0;
}

.btnflex a{
margin: 0 5%;
}

.btn-leave{
  background-color: #E30B5D;
  color: white;
  border: none;
  padding: 1% 2%;
  text-decoration: none;
}

</style>